<link rel="icon" type="image/png" href="favicon.png" />
<link rel="stylesheet" href="/css/theme.css" />
<link rel="stylesheet" href="/css/github-v2.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato%7COpen+Sans:400,600,800%7CLora" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
<script src="/js/prettify/prettify.js"></script>
<script src="/js/toggle.js"></script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
